apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: loki-ingress
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: cluster

  source:
    repoURL: https://github.com/mvs5465/local-k8s-apps
    targetRevision: main
    path: manifests/loki

  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
