apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd
spec:
  project: cluster
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    targetRevision: 25.3.1
    chart: prometheus
    helm:
      releaseName: prometheus
      values: |
        server:
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              cpu: 200m
              memory: 512Mi
          retention: "7d"
          persistentVolume:
            enabled: true
            size: 2Gi
          service:
            type: ClusterIP
          ingress:
            enabled: true
            ingressClassName: nginx
            hosts:
              - prometheus.lan
            path: /
            pathType: Prefix

        pushgateway:
          enabled: false

        alertmanager:
          enabled: false

        nodeExporter:
          enabled: true

        kubeStateMetrics:
          enabled: true

        extraScrapeConfigs: |
          - job_name: argocd
            static_configs:
            - targets:
              - argocd-application-controller.argocd.svc.cluster.local:8082
              - argocd-applicationset-controller.argocd.svc.cluster.local:8080
              - argocd-repo-server.argocd.svc.cluster.local:8084
              - argocd-server.argocd.svc.cluster.local:8083

  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring

  syncPolicy:
    syncOptions:
    - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true
